*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  list-style: none;
}
a {
  color: inherit;
}
body {
  background-color: #00162c;
  color: #fff;
  font-family: "Rubik", sans-serif;
}